
@{
    ViewData["Title"] = "Merci de votre contribution ";
}
<div class="text-center  big-ft-size text-grey"> <i class="fa fa-thumbs-up"></i></div>
<div class=" p-2 validation-box message-box text-center">
   
    <span class=""> Votre proposition a été enregistré. Merci de votre participation.</span>
</div>
<div class="text-center p-2">
    <a class="text-center" asp-action="GetSuggestions"> Voir toute les propositions</a> | <a asp-action="Index"> Retourner au formulaire </a>
</div>

